.left_column {
	width: 100%;
	margin-right: -300px;
	float: left;
}

.left_container {
	margin-right: 320px;
}

.right_column {
	float: right;
	width: 300px;
}

.right_container {
	
}

.member .name {
	text-align: right;
	width: 230px;
	padding-right: 20px;
	padding-bottom: 20px;
	vertical-align: top;
}

.member .photo {
	width: 50px;
	padding-bottom: 20px;
}

.member .photo img {
	width: 50px;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -opera-border-radius: 2px;
    -moz-border-radius: 2px;
}

.member .role {
	font-size: 0.8em;
}

.right_container h2.other {
	text-align: right;
	margin-bottom: 10px;
}
